<%-include('head') -%>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">404</h1>
    <p class="lead">Page that you're looking for is not there!</p>
    <p class="lead">
    </p>
  </main>


<%-include('foot') -%>