<%-include('head') -%>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Feature Of the Product</h1>
    <p class="lead">1.2.3.4.5</p>
    <p class="lead">
    </p>
  </main>


<%-include('foot') -%>