<%-include('head') -%>
  <main role="main" class="inner cover">
    <h1 class="cover-heading"><%=judul%> </h1>
    <p class="lead"><%=content%></p>
    <p class="lead">
    </p>
  </main>


<%-include('foot') -%>